[Unit]
Description=PiCar-X Service
After=network.target gpio.target i2c.target basic.target time-sync.target
Wants=network.target gpio.target i2c.target
Requires=basic.target

[Service]
Type=simple
User=mw
Group=mw
WorkingDirectory=/home/mw/picar-x
Environment=PYTHONPATH=/home/mw/robot-hat/robot_hat
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/python3 /home/mw/picar-x/m1/poll_buttons.py
Restart=no
RestartSec=10
# Add required permissions for hardware access
SupplementaryGroups=gpio i2c video

[Install]
WantedBy=multi-user.target
